//form.css  
.root{  
    -fx-background-color:#19455d;  
    -fx-padding: 10 45 10 130;
    -fx-background-radius:3;  
    -fx-effect:dropshadow(one-pass-box,GREEN,8,0.0,2,0); 
}  
.label{  
    -fx-font-size:18pt;  
    -fx-font:bold 10pt"Arial";  
    -fx-padding:10  
}  
.button  
{  
    -fx-effect:dropshadow(one-pass-box,black,8,0.0,2,0);  
    -fx-border-radius:20;  
    -fx-font:bold10pt"Arial";  
}  
#title  
{  
    -fx-font:bold20pt"Arial";   
    -fx-effect:dropshadow(one-pass-box,GREEN,8,0.0,2,0);  
      
}  

.progress-bar > .bar {
    -fx-background-color: linear-gradient(
        from 0px .75em to .75em 0px,
        repeat,
        -fx-accent 0%,
        -fx-accent 49%,
        derive(-fx-accent, 30%) 50%,
        derive(-fx-accent, 30%) 99%
    );
    -fx-control-inner-background: #F0FFF0;
    -fx-accent: #a0b700;
}
